
#cardFundo1, #cardFundo2, #cardFundo3 {
    background-size: cover;
    background-position: center right;
    height: 180px;
}

#cardFundo1 {
    background-image: url('../Imagens/card1.png');    
}

#cardFundo2 {
    background-image: url('../Imagens/card2.jpg');    
}

#cardFundo3 {
    background-image: url('../Imagens/card3.jpg');    
}