.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Cores*/
h1, h2, h3 {
  color: #3F0259;
}

/*Fonts*/
@font-face {
  font-family: "tituloPrincipal";
  src: url("./Fonts/leaves_and_ground.ttf");
}

h1, h2, h3 {
  font-family: tituloPrincipal;
}

/*Menu*/
.App header {
  text-align: left;
}


/*Acessibilidade controle menu*/
#sobreNos #navegacao .sobreNos a,
#projeto #navegacao .projeto a,
#doador #navegacao .doador a,
#parceiros #navegacao .parceiros a,
#faleconosco #navegacao .faleconosco a {
  font-weight: bold;
}

/*Controle carousel - Afastar*/
.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

/*Carousel - padrão*/
.App #carouselControle .carousel-indicators .active, 
.App #pessoasAjudaram #carouselControle2 .carousel-indicators .active,
.App #pessoasAReceberam #carouselControle3 .carousel-indicators .active {
  background-color: #3F0259;
}

.App #carouselControle .carousel-control-next, .carousel-control-prev, 
.App #pessoasAjudaram .carousel-control-next, .carousel-control-prev,
.App #pessoasAReceberam .carousel-control-next, .carousel-control-prev {
  color: #3F0259;
}


/*Carousel*/
.App section .carousel-item {
  height: 32rem;
  background-color: white;
  color: #000;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.App section .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.App section .carousel-fundo1 {
  background-image:url('./Imagens/foto-carousel1.png');
}

.App section .carousel-fundo2 {
  background-image:url('./Imagens/foto-carousel2.png');

}

.App section .carousel-fundo3 {
  background-image:url('./Imagens/foto-carousel3.png');
}

.text-amarelo {
  color: #F2B705;
}

/*Conheça mais sobre o projeto*/

.App #conhecaMais .container{
  position: relative;
  margin-top: 50px;
  height: 400px;
}

.App #conhecaMais .container .row {
  padding-top: 30px;
}

.App #conhecaMais .container .row p {
  padding-top: 10px;
  text-align: justify;
}


/*Fazer parte do projeto*/

.App #fazerParte {
  margin-top: 20px;
}

.App #fazerParte .container {
  position: relative;
}

.App #fazerParte h3, .App #fazerParte p {
  padding: 15px
}

.App #fazerParte button {
  margin-bottom: 20px;
}

.App #fazerParte .borda-roxa {
  height: 351px;
  border: 1px solid #3F0259;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.App #fazerParte #botaRecebaAjuda {
  margin-top: 30px;
}

.App #fazerParte button {
  width: 256px;
  height: 52px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  background-color: #F2B705;
  border: 2px solid #F2B705;
}

/*Depoimentos - pessoas que já ajudaram*/

.App #pessoasAjudaram h3, .App #pessoasAReceberam h3 {
  padding-bottom: 20px;
}

.App #pessoasAjudaram .card {
  border: 2px solid #F2B705;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 600px;
}

/*Depoimentos - pessoas que já receberam*/
.App #pessoasAReceberam {
  margin-top: 50px;
  margin-bottom: 50px;
}

.App #pessoasAReceberam .card {
  border: 2px solid #F2B705;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 600px;
}


/*Depoimentos - fundos*/

#pessoasAjudaram #carouselControle2 #fundo1 {
  background: url("./Imagens/rosto.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAjudaram #carouselControle2 #fundo2 {
  background: url("./Imagens/rosto2.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAjudaram #carouselControle2 #fundo3 {
  background: url("./Imagens/rosto3.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAjudaram #carouselControle2 #fundo4 {
  background: url("./Imagens/rosto4.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAjudaram #carouselControle2 #fundo5 {
  background: url("./Imagens/rosto5.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAjudaram #carouselControle2 #fundo6 {
  background: url("./Imagens/rosto6.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo7 {
  background: url("./Imagens/rosto7.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo8 {
  background: url("./Imagens/rosto8.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo9 {
  background: url("./Imagens/rosto9.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo10 {
  background: url("./Imagens/rosto10.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo11 {
  background: url("./Imagens/rosto11.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}

#pessoasAReceberam #carouselControle3 #fundo12 {
  background: url("./Imagens/rosto12.jpg");
  background-position: center center;
  background-size: cover;
  height: 800px;
}








/*Media queries*/

/*Portrait phones, less than 579px*/
@media (max-width: 575.98px){
  /*Depoimento*/
  .App #depoimento .container {
    height: 780px;
  }

  .App #depoimento .fa-3x {
    font-size: 2em;
  }
  .App #fazerParte .container {
    margin-top: 30px;
  }

  .App #fazerParte .col-md-6 {
    margin-top: 10px;
  }

  .App #conhecaMais  {
    height: 750px;
  }

  .App #conhecaMais #video {
    padding-bottom: 20px;
  }

  /*Receba Ajuda*/
  .App #fazerParte .borda-roxa {
    height: 450px;
  }

  /*Depoimentos - pessoas que ajudaram*/
  .App #pessoasAjudaram #carouselControle2 .card img{
    width: auto;
    height: 18rem;
  }

  /*Depoimentos - pessoas que receberam ajuda*/
  .App #pessoasAReceberam #carouselControle3 .card img{
    width: auto;
    height: 18rem;
  }

  .App #pessoasAjudaram #carouselControle2 img {
    margin-top: 40px;
  }

}

/*Landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px){
  /*Depoimento*/
  .App #depoimento .container {
    height: 780px;
  }

  .App #depoimento .fa-3x {
    font-size: 2em;
  }
  /*Fazer parte*/
  .App #fazerParte{
    height: 820px;
  }

  .App #fazerParte button{
    margin-bottom: 25px;
  }
  .App #fazerParte .col-md-6 {
    margin-top: 10px;
  }

   /*Receba Ajuda*/
   .App #fazerParte .borda-roxa {
    height: 400px;
  }

  /*Vídeo*/
  .App #conhecaMais  {
    height: 650px;
  }
  
  .App #conhecaMais #video {
    padding-bottom: 20px;
  }
  

  /*Depoimentos - pessoas que já ajudaram*/
  .App #pessoasAjudaram {
    margin-top: 50px;
  }

  .App #pessoasAjudaram #carouselControle2 .card img{
    width: auto;
    height: 18rem;
  }

  .App #pessoasAjudaram #carouselControle2 img {
    margin-top: 40px;
  }

  /*Depoimentos - pessoas que receberam ajuda*/
  .App #pessoasAReceberam #carouselControle3 .card img{
    width: auto;
    height: 18rem;
  }
}

/*Tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991.98px){
  .App #fazerParte .container {
    margin-top: 80px;
  }     

  /*Vídeo*/
  .App #conhecaMais  {
    height: 520px;
  }
  
  .App #conhecaMais #video {
    margin-left: -60px;
  }

  /*Receba Ajuda*/
  .App #fazerParte .borda-roxa {
    height: 480px;
  }
  
  .App #fazerParte #botaRecebaAjuda {
    margin-top: 60px;
  }

  .App #pessoasAjudaram #carouselControle2 img {
    margin-top: 40px;
  }

  .App #pessoasAjudaram #carouselControle2 .card img{
    width: auto;
    height: 18rem;
  }

  /*Depoimentos - pessoas que receberam ajuda*/
  .App #pessoasAReceberam #carouselControle3 .card img{
    width: auto;
    height: 18rem;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
   /*Fazer parte*/
   .App #fazerParte{
    height: 820px;
  }
 
  /*Receba Ajuda*/
  .App #fazerParte .borda-roxa {
    height: 480px;
  }

   /*Depoimentos - pessoas que receberam ajuda*/
  .App #fazerParte #botaRecebaAjuda {
    margin-top: 10px;
  }
}