/*Nossa história*/

#historia .container .row {
    padding-top: 30px;
    padding-bottom: 30px;
  }

#historia .container p {
    text-align: justify;
}

/*Missão, visão e valores*/
#missao {
    margin-top: 10px;    
}

#missao .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#missao .container div {
    margin-top: 20px;
    padding-top: 15px;
}