/*Contribuir*/
#contribuir {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contribuir h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#contribuir p {
    text-align: justify;
}

/*Encontrar escola*/
#encontrarEscola {
    margin-bottom: 20px;
}

#encontrarEscola h1 {
    padding-bottom: 20px;
}

#encontrarEscola #botaoPadrao{
  width: 256px;
  height: 52px;
  border-radius: 500px;
  margin-top: 30px;
}