/*Capa Principal*/
#capaPrincipal, #capaSecundaria {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 580px;
}

#capaPrincipal {
    background-image: url('./Imagens/capaPrincipalProjeto.jpg');
}

#capaSecundaria {
    background-image: url('./Imagens/carouselSobre1.jpg');    
}

/*Imagens Padrão*/
#montagemKit img, #quemSeDestina img {
    border: 1px solid #3F0259;
}

#montagemKit .inner, #quemSeDestina .inner {
    overflow: hidden;
}

#montagemKit .inner img, #quemSeDestina .inner img {
    transition: all 1.2s ease;
}

#montagemKit .inner:hover img, #quemSeDestina .inner:hover img{
    transform: scale(1.2);
}

/*Imagens Parceiros*/
#ImagensParceiros {
    margin-bottom: 20px;
}

#ImagensParceiros img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*Media Queries*/

/*Portrait phones, less than 579px*/
@media (max-width: 575.98px){
    /*Capa Principal e Capa Secundária*/
    #capaPrincipal, #capaSecundaria {
        height: 300px;
    }

    /*Montagem Kit*/
    #quemSeDestina img, #montagemKit img{
        padding-bottom: 15px;
    }

    /*Imagens Parceiros*/
    #ImagensParceiros img {
        height: 120px;
        width: 120px;
    }
 }
   
 /*Landscape phones, 576px and up*/
 @media (min-width: 576px) and (max-width: 767.98px){ 
    /*Capa Principal e Capa Secundária*/
    #capaPrincipal, #capaSecundaria {
        height: 300px;
    }

    /*Montagem Kit*/
    #quemSeDestina img, #montagemKit img{
        padding-bottom: 15px;
    }

    /*Imagens Parceiros*/
    #ImagensParceiros img {
        height: 140px;
        width: 140px;
    }
 }
   
 /*Tablets, 768px and up*/
 @media (min-width: 768px) and (max-width: 991.98px){   
    /*Capa Principal e Capa Secundária*/
    #capaPrincipal, #capaSecundaria {
        height: 480px;
    }

    /*Imagens Parceiros*/
    #ImagensParceiros img {
        height: 180px;
        width: 180px;
    }
 }