
/*Nossa história*/

#historia .container p {
    text-align: justify;
}


/*Carousel*/
#historia .carousel-item {
    height: 32rem;
    background-color: #000;
    color: #000;
    position: relative;
    background-position: center center;
    background-size: cover;
  }
  
  #historia .container {
    position: relative; /*Antes: absolute*/
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
  }
  
  
  #historia .carousel-fundo1 {
    background-image:url('./Imagens/carouselSobre1.jpg');
  }
  
  #historia .carousel-fundo2 {
    background-image:url('./Imagens/carouselSobre2.jpg');
  
  }
  
  #historia .carousel-fundo3 {
    background-image:url('./Imagens/carouselSobre3.jpg');
  }

/*Como estamos hoje*/
#situacaoAtual h1 {
    margin-bottom: 50px;
}


/*Missão, visão e valores*/

#situacaoAtual, #lema {
    margin-top: 30px;
    margin-bottom: 30px;    
}

#lema h3 {
    padding-top: 5px;
}
 
#lema h1, #lema .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#lema .card {
    border: 1px solid black;
}


/*Media Queries*/

/*Portrait phones, less than 579px*/
@media (max-width: 575.98px){
    #historia .col-md-4 {
        margin-bottom: 40px;
    }
    
    #historia #carouselControle {
        height: auto;     
    }
    #historia #carouselControle .carousel-item {
        height: 20rem;
    }
}
  
/*Landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px){ 

    #historia .col-md-4 {
        margin-bottom: 40px;
    }

    #historia #carouselControle {
        height: auto;     
    }
    #historia #carouselControle .carousel-item {
        height: 20rem;
    }
}
  
/*Tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991.98px){   

    /*Carousel*/ 
    #historia #carouselControle .carousel-item {
        height: 30rem;
    }
}