
/*Foto capa*/
#capaSobre {
    background-image: url("./Imagens/carouselSobre2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 580px;
}

/*Nossa história*/
#historia .container p {
    text-align: justify;
}


/*Como estamos hoje*/
#situacaoAtual h1 {
    margin-bottom: 50px;
}


/*Missão, visão e valores*/

#situacaoAtual, #lema {
    margin-top: 30px;
    margin-bottom: 30px;    
}

#lema h3 {
    padding-top: 5px;
}
 
#lema h1, #lema .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#lema .card {
    border: 1px solid black;
}



/*Media Queries*/

/*Portrait phones, less than 579px*/
@media (max-width: 575.98px){
   /*Foto capa*/
    #capaSobre {
        height: 300px;
    }

    #historia .col-md-4 {
        margin-bottom: 40px;
    }
    
    #historia #carouselControle {
        height: auto;     
    }
    #historia #carouselControle .carousel-item {
        height: 20rem;
    }

    /*Como estamos hoje*/
    #situacaoAtual h4 {
        font-size: 18px;
    }
    #situacaoAtual p {
        font-size: 16px;
    }
}
  
/*Landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px){ 
    /*Foto capa*/
    #capaSobre {
        height: 300px;
    }

    #historia .col-md-4 {
        margin-bottom: 40px;
    }

    #historia #carouselControle {
        height: auto;     
    }
    #historia #carouselControle .carousel-item {
        height: 20rem;
    }

    /*Como estamos hoje*/
    #situacaoAtual h4 {
        font-size: 18px;
    }
    #situacaoAtual p {
        font-size: 16px;
    }
}
  
/*Tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991.98px){   
    /*Foto capa*/
    #capaSobre {
        height: 480px;
    }
    /*Carousel*/ 
    #historia #carouselControle .carousel-item {
        height: 30rem;
    }
}